*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

textarea{
    resize: none;
}

input, select{
    outline: none;
}

a{
    text-decoration: none;
}


.silder_pgx{
    display: flex;
    width: auto;
    height: 100vh;
    position: fixed;
    z-index: 10000;
    background: #5a0000;
}

.iconos_pgx{
    background: #970000;
    width: 40px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}


#close{
    position: absolute;
    top: 0;
    font-size: 1.5em;
    color: #fff;
}
.iconos_pgx button,a {
    /* reseteo */
    border: none;
    padding: none;
    margin: none;
    background: none;
    text-decoration: none;
    outline: none;
    /* actual */
    width: 100%;
    text-align: center;
    margin: 5px;
    font-size: 1.2em;
}

.chats{
    max-width: 100%;
    width: 100%;
}

.ptn_pgx{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /* place-items: end; */
    width: 410px;
    overflow: auto;
}

.ptn_pgx .info{
    font-size: 1em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    padding: 10px;
    display: block;
    margin: 0 auto;
    color: #fff;
    background: #000;
}


.info i{
    font-size: 2em;
    margin-bottom: 10px;
}

.info p{
    border-top: 1px solid #fff;
    padding-top: 10px;
}

.red{
    color: red;
}

.ptn_pgx::-webkit-scrollbar{
    width: 0;
}
.ptn_pgx iframe{
    display: block;
    width: 100%;
    height: 95vh;
}

#chats_ia iframe{
    display: none;
}

.sub{
    border: none;
    width: 100%;
    height: 5vh;
}

.sub select{
    font-size: 0.9em;
    cursor: pointer;
    background: #5a0000;
    color: #fff;
    text-align: center;
    border: none;
    width: 100%;
    height: 100%;
}

.section {
    display: none;
}
.section.active {
    display: block;
}