*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

textarea{
    resize: none;
}

input, select{
    outline: none;
}

a{
    text-decoration: none;
}


.silder_pgx{
    display: flex;
    width: auto;
    height: 100vh;
    position: fixed;
    z-index: 10000;
}

.iconos_pgx{
    background: #000000bd;
    width: 40px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}



#close{
    position: absolute;
    top: 0;
    font-size: 1.8em;
    color: #fff;
}
.iconos_pgx button,a {
    color: #fff;
    /* reseteo */
    border: none;
    padding: none;
    margin: none;
    background: none;
    text-decoration: none;
    outline: none;
    /* actual */
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.chats{
    max-width: 100%;
    width: 100%;
}

.ptn_pgx{
    background: #232323;
    position: relative;
    width: 410px;
    overflow: auto;
}

.ptn_pgx .info{
    font-size: 1em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    padding: 10px;
    display: block;
    margin: 0 auto;
    color: #fff;
    background: #000;
}


.info i{
    font-size: 2em;
    margin-bottom: 10px;
}

.info p{
    border-top: 1px solid #fff;
    padding-top: 10px;
}

.red{
    color: red;
}

.blue{
    color: rgb(0, 204, 255);
}

.ptn_pgx::-webkit-scrollbar{
    width: 0;
}
.ptn_pgx iframe{
    display: block;
    width: 100%;
    height: 100vh;
}

.chats iframe{
    display: none;
    height: 95vh;
}

.sub #chats_ia{
    margin: 0;
    border: none;
    width: 100%;
    height: 5vh;
}

.sub select{
    font-size: 0.9em;
    cursor: pointer;
    background: #000;
    color: #fff;
    text-align: center;
    border: none;
    width: 100%;
    height: 100%;
}

.section {
    display: none;
}
.section.active {
    display: block;
}

label{
    display: block;
}

.ptn_pgx select, input, button{
    display: block;
    margin: 0 auto;
    font-size: 1em;
    margin-top: 10px;
}

.ptn_pgx select{
    width: 90%;
    height: 30px;
    text-align: center;
    background: #3b3b3b;
    color: #fff;
    border: none;
}

.ptn_pgx input{
    width: 90%;
    height: 30px;
    text-align: center;
    background: #3b3b3b;
    color: #fff;
    border: none;
}


.ptn_pgx button{
    margin-top: 10px;
    font-weight: 900;
    background: #949494;
    color: #001aff;
    border: none;
    border-radius: 1000px;
    width: 250px;
    height: 30px;
}

.ptn_pgx button:active{
    background: #3b3b3b;
    color: #fff;
}

.ptn_pgx h2{
    font-weight: 1;
    margin-top: 10px;
    text-align: center;
    color: #fff;
    font-size: 1.8em;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
}

.ptn_pgx p{
    width: 98%;
    text-align: center;
    margin: 0 auto;
    color: #fff;
}
.ptn_pgx a{
    font-size: 1em;
}